<body>
<p>This is the partial for search</p>

<div id="header">
    <img src="https://pbs.twimg.com/profile_images/634474652967006208/46qwP9AX.png" style="width:50px;heigth:70px"/>
</div>

<form>
    <div id="body">
        <br>
        <input type="text" name="searchValue" ng-model="searchValue"/>
        <input type="submit" name="submit" ng-click="search()"/></br>
        <br>
        <input type="radio" name="searchType" value="track" ng-model="searchType"/> song
        <input type="radio" name="searchType" value="artist" ng-model="searchType"/> artist
        <input type="radio" name="searchType" value="album" ng-model="searchType"/> album
        <input type="radio" name="searchType" value="playlist" ng-model="searchType"/> playlist   </br>
        <hr/>
    </div>


    <div class="result" ng-if="searchType == 'artist'">
        <div id="artistResults" class="isotope"  ng-repeat="searchResult in searchResults">
            <div ng-if="searchResult.images.length > 0"><a ng-href="index.html#/artistDetails/{{searchResult.id}}">
                <img ng-src="{{searchResult.images[0].url;}}" style="width:300px;heigth:200px;"></a>
                <span class="title">{{searchResult.name}}</span>
            </div>
        </div>
    </div>

    <div class="result" ng-if="searchType == 'song'">
        <div id="songResults" class="isotope"  ng-repeat="searchResult in searchResults">
            <div ng-if="searchResult.images.length > 0"><a ng-href="index.html#/songDetails/{{searchResult.id}}">
                <img ng-src="{{searchResult.images[0].url;}}" style="width:300px;heigth:200px;"></a>
                <span class="title">{{searchResult.name}}</span>
            </div>
        </div>
    </div>


</form>

</body>

<style>
    #header {
        backround-color:black;
        color:white;
        text-align:left;
        padding:4px;

    }
    #body {
        text-align:center;
    }
</style>
